In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('state_cases.csv')

In [3]:
df

,id,date,state_code,conf,deceased,rec,state_name
0,0,01-Apr-20,AN,0,0,0,Andaman and Nicobar Islands
1,1,01-Apr-20,AP,67,0,1,Andhra Pradesh
2,2,01-Apr-20,AR,0,0,0,Arunachal Pradesh
3,3,01-Apr-20,AS,15,0,0,Assam
4,4,01-Apr-20,BR,3,0,0,Bihar
...,...,...,...,...,...,...,...
5689,5689,31-May-20,TT,8789,222,4928,Total
5690,5690,31-May-20,UN,448,0,0,State Unassigned
5691,5691,31-May-20,UP,374,4,192,Uttar Pradesh
5692,5692,31-May-20,UT,158,0,0,Uttarakhand
5693,5693,31-May-20,WB,371,8,187,West Bengal

In [7]:
a = set()
for ind in df.index:
    a.add(df['date'][ind][7:])

In [8]:
a

{'20'}

In [6]:
months = {'Apr':'04', 'Aug':'08', 'Jul':'07', 'Jun':'06', 'Mar':'03', 'May':'05'}

In [9]:
for ind in df.index:
    df['date'][ind] = '2020-' + months[df['date'][ind][3:6]] + '-' + df['date'][ind][:2]

/var/folders/g3/cfqrmx7n2gg21yszg26kj02h0000gn/T/ipykernel_11520/126131913.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'][ind] = '2020-' + months[df['date'][ind][3:6]] + '-' + df['date'][ind][:2]

In [10]:
df

,id,date,state_code,conf,deceased,rec,state_name
0,0,2020-04-01,AN,0,0,0,Andaman and Nicobar Islands
1,1,2020-04-01,AP,67,0,1,Andhra Pradesh
2,2,2020-04-01,AR,0,0,0,Arunachal Pradesh
3,3,2020-04-01,AS,15,0,0,Assam
4,4,2020-04-01,BR,3,0,0,Bihar
...,...,...,...,...,...,...,...
5689,5689,2020-05-31,TT,8789,222,4928,Total
5690,5690,2020-05-31,UN,448,0,0,State Unassigned
5691,5691,2020-05-31,UP,374,4,192,Uttar Pradesh
5692,5692,2020-05-31,UT,158,0,0,Uttarakhand
5693,5693,2020-05-31,WB,371,8,187,West Bengal

In [11]:
df.to_csv('state_cases.csv')